body,ul,li,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    position: relative;
    width: 520px;
    height: 280px;
    border: 2px solid black;
    margin: 100px auto;
    overflow: hidden;
}
.wrap{
    position: absolute;
    left: -520px;
    width: 3640px;
    height: 280px;
    font-size: 0;
}
.list{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background: rgba(255,255,255,0.4);
    font-size: 0;
    border-radius:10px;
}
.list li{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 3px;
    cursor: pointer;
}
.list .active{
    background-color: orangered;
}
.btn{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
}
.container:hover .btn{
    display: block;
}
#prve{
    left: 0;
}
#next{
    right: 0;
}